/* INDEX */

/* GLOBAL */
body {
  background-color: wheat;
}


/* CONTAINERS */
.appContainer{
  margin: 25px 20px 25px 20px;
  background-color: blanchedalmond;
}

.headerContainer{
  box-sizing:border-box;
  height: 13vw;
  width: 100%;
  padding-top:20px;
  padding-left: 20px;
  background-color: crimson;
}