/* INDEX */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; */

/* GLOBAL */
body {
  background-color:  #071417;
}

button {
  display: inline-block;
  height: 100%;
  margin-right:2%;
  padding-right: 4%;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-shadow: 0px .75px .75px #6BB0BF;
  background-color: #2e7c9b;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  color:#6BB0BF;
  text-shadow:none;
  outline: none;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: #e34031
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  line-height: 1.2;
  color: #163840;
}

.one-edge-shadow {
  box-shadow: 0 8px 6px -6px rgb(48, 34, 24);
}

/* CONTAINERS */
.appContainer{
  margin: 25px 20px 25px 20px;
}

.headerContainer{
  box-sizing:border-box;
  height: 55%;
  width: 100%;
  padding-top:20px;
  padding-left: 20px;
  background-color: #2e7c9b;
}

.titleContainer{
  color: #071417;
  text-shadow: 0px 1px 1px #6BB0BF;
  line-height: 1;
}

.navContainer{
  height:15%;
  width:98%;
  margin-top: 15px;
  padding-top:3px;
  padding-bottom: 5px;
}

.contentContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2%;
  background-color: white
}

.slideContainer{
  height:600px;
  width:80%;
  border: 5px solid #163840;
  background-color: #4E8DA6;
}

.copyContainer{
  padding-left: 4%;
  padding-right: 4%;
}

.footerContainer {
  margin-top: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e7c9b;
}

/* TEXT TREATMENT */
.mainTitle{
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
}

.subTitle{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.quoteBody{
  margin-top: 3%;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.1;
  text-align: center;
  color: #e34031
}

.quoteAuthor{
  font-weight: 300;
  font-size: .8rem;
}

/* ELEMENTS */
.insetLine{
  height: 3px;
  background-color: #071417;
  border-bottom: .5px solid #649eab;
}

.footerButton {
  font-size: 1rem;
  width: 200px;
  text-align: center;
}


