/* INDEX */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; */

/* GLOBAL */
body {
  background-color: #b0d8e1;
}

button {
  display: inline-block;
  height: 100%;
  margin-right:2%;
  padding-right: 4%;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-shadow: 0px .75px .75px #6BB0BF;
  background-color: #2e7c9b;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  color:#6BB0BF;
  text-shadow:none;
  outline: none;
}

.one-edge-shadow {
  box-shadow: 0 8px 6px -6px rgb(48, 34, 24);
}

/* CONTAINERS */
.appContainer{
  margin: 25px 20px 25px 20px;
}

.headerContainer{
  box-sizing:border-box;
  height: 55%;
  width: 100%;
  padding-top:20px;
  padding-left: 20px;
  background-color: #2e7c9b;
}

.titleContainer{
  color: #071417;
  text-shadow: 0px 1px 1px #6BB0BF;
  line-height: 1;
}

.navContainer{
  height:15%;
  width:98%;
  margin-top: 15px;
  padding-top:3px;
  padding-bottom: 5px;
}

.contentContainer{
  height: 80vh;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2%;
  background-color: white
}

/* TEXT TREATMENT */
.mainTitle{
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
}

.subTitle{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

/* ELEMENTS */
.insetLine{
  height: 3px;
  background-color: #071417;
  border-bottom: .5px solid #649eab;
}


